[Unit]
Description=Antec Flux Pro Display Service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/af-pro-display
Restart=always
RestartSec=5
ProtectSystem=strict
ProtectHome=false
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target